// ========= colors =========
$mainColor: #585858;
$secondaryColor: #9e9e9e;
$accentColor: #ff6263;
$accentColorHover: #787878;
$blueHover: #2196f3;
$whiteColor: #fff;
$blackColor: #000;
$opasity: rgba(255, 255, 255, 0.5);
$opasitySocial: rgba(255, 255, 255, 0.1);
$link: rgba(189, 79, 59, 0.801);

// ======== fonts =========
$fontMain: "Merriweather Sans", sans-serif;
$fontSecond: "Allura", sans-serif;
$fontThird: "Climate Crisis", sans-serif;
