// ========= colors =========
$whiteColor: #fff;
$secondaryColor: #9e9e9e;
$mainColor: #585858;
$accentColor: #ff6263;
$orangeHover: rgb(219, 131, 48);
$orange: #ff4700;
$accentColorHover: #787878;
$bgcGray: #fafafa;
$blueHover: #2196f3;
$blackColor: #000;
$opasity: rgba(255, 255, 255, 0.5);
$opasitySocial: rgba(255, 255, 255, 0.1);
$link: rgba(189, 79, 59, 0.801);
$border: rgba(219, 131, 48, 0.4);

// ======== fonts =========
$fontMain: "Merriweather Sans", sans-serif;
$fontSecond: "Allura", sans-serif;
$fontThird: "Climate Crisis", sans-serif;

/*--webkit--*/
/*--< /webkit >--*/
