<!-- SECTION: Blog -->
<section id="blog" class="container blog">
  <h2 class="blog__heading title">Blog Posts</h2>
  <div class="blog__wrapper wrapper--large">
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-1.jpg" alt="Man viewing work plans" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Days in the office</h3>
        <p>
          I love using UI Kits vs website templates because UI Kits give you an
          easier way to use elements compared to templates.
        </p>
        <a class="transform-link" href="#0">Read full article</a>
      </div>
    </article>
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-2.jpg" alt="Man hanging pictures" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Why I use CCO images</h3>
        <p>
          CCO images are awesome because you don't have to credit the author,
          and you can use them anywhere, anytime.
        </p>
        <a class="transform-link" href="#0">Read full article</a>
      </div>
    </article>
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-3.jpg" alt="Men working at a desk" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Designing for IOT</h3>
        <p>
          Internet of things is coming so quickly, we as designers will have to
          design UI and UX for more things in the future.
        </p>
        <a class="transform-link" href="#0">Read full article</a>
      </div>
    </article>
  </div>
  <div class="blog__view-more">
    <a class="button blog__view-more--el" href="#0">View More</a>
  </div>
</section>
<!-- END SECTION: Blog -->
<!-- SECTION: Contact -->
<section id="contact" class="container contact">
  <h2 class="contact__heading title">Contact Me</h2>
  <div class="contact__wrapper wrapper--large">
    <div class="contact__visual">
      <img src="/src/images/map.jpg" alt="My location" />
    </div>
    <!-- Form setup: formspree.io -->
    <form class="contact__form">
      <input
        class="contact__form-el contact__form-el--name"
        type="text"
        placeholder="Name"
        spellcheck="false"
      />
      <input
        class="contact__form-el contact__form-el--email"
        type="email"
        placeholder="Email"
        spellcheck="false"
      />
      <textarea
        class="contact__form-el contact__form-el--message"
        placeholder="Message"
      ></textarea>
      <input
        class="contact__form-el contact__form-el--submit"
        type="submit"
        value="Send"
      />
    </form>
  </div>
</section>
<!-- END SECTION: Contact -->

<!-- SECTION: Footer -->
<footer class="container footer">
  <div class="footer__wrapper wrapper--large">
    <p class="footer__copyright no-margin">&copy; 2024 iElkin Denys</p>
    <a class="logo header__logo" href="#0" lang="en"
      ><span class="span">i</span>E<span class="span">.</span>D<span
        class="span"
        >.</span
      ></a
    >
  </div>
</footer>
<!-- END SECTION: Footer -->
