<!-- SECTION: Blog -->
<section id="blog" class="container blog">
  <h2 class="blog__heading title">Blog Posts</h2>
  <div class="blog__wrapper wrapper--large">
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-1.jpg" alt="Man viewing work plans" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Days in the office</h3>
        <p>
          I love using UI Kits vs website templates because UI Kits give you an
          easier way to use elements compared to templates.
        </p>
        <a class="blog__link" href="#0">Read full article</a>
      </div>
    </article>
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-2.jpg" alt="Man hanging pictures" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Why I use CCO images</h3>
        <p>
          CCO images are awesome because you don't have to credit the author,
          and you can use them anywhere, anytime.
        </p>
        <a class="blog__link" href="#0">Read full article</a>
      </div>
    </article>
    <article class="blog__post">
      <div class="blog__post-thumbnail">
        <img src="/src/images/blog-3.jpg" alt="Men working at a desk" />
      </div>
      <div class="blog__post-excerpt">
        <h3>Designing for IOT</h3>
        <p>
          Internet of things is coming so quickly, we as designers will have to
          design UI and UX for more things in the future.
        </p>
        <a class="blog__link" href="#0">Read full article</a>
      </div>
    </article>
  </div>
  <div class="blog__view-more">
    <a class="nav__button btn blog__btn blog__view-more--el" href="#0"
      >View More</a
    >
  </div>
</section>
<!-- END SECTION: Blog -->
<!-- SECTION: Contact -->
<section id="contact" class="container contact">
  <h2 class="contact__heading title">Contact Me</h2>
  <div class="contact__wrapper wrapper--large">
    <div class="contact__img">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7700.67413259643!2d31.99176385527423!3d46.96974725928222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1714083596923!5m2!1sru!2sua"
        width="513"
        height="411"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <!-- Form setup: formspree.io -->
    <form class="contact__form">
      <input
        class="contact__form-el contact__form-el--name"
        type="text"
        placeholder="Name"
        spellcheck="false"
      />
      <input
        class="contact__form-el contact__form-el--email"
        type="email"
        placeholder="Email"
        spellcheck="false"
      />
      <textarea
        class="contact__form-el contact__form-el--message"
        placeholder="Message"
      ></textarea>
      <input
        class="contact__form-el contact__form-el--submit"
        type="submit"
        value="Send"
      />
    </form>
  </div>
</section>
<!-- END SECTION: Contact -->

<!-- SECTION: Footer -->
<footer class="container footer">
  <div class="footer__wrapper wrapper--large">
    <div class="social">
      <ul class="example-2">
        <li class="icon-content">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/denys-ielkin-50623225b/"
            aria-label="LinkedIn"
            data-social="linkedin"
          >
            <div class="filled"></div>
            <svg class="bi bi-linkedin" xml:space="preserve">
              <use href="/src/images/svg/icons.svg#li-footer"></use>
            </svg>
          </a>
        </li>
        <li class="icon-content">
          <a
            target="_blank"
            href="https://github.com/hvoarang"
            aria-label="GitHub"
            data-social="github"
          >
            <div class="filled"></div>
            <svg class="bi bi-github" xml:space="preserve">
              <use href="/src/images/svg/icons.svg#git-footer"></use>
            </svg>
          </a>
        </li>
        <li class="icon-content">
          <a
            target="_blank"
            href="https://www.instagram.com/hvoarang/"
            aria-label="Instagram"
            data-social="instagram"
          >
            <div class="filled"></div>
            <svg class="bi bi-instagram" xml:space="preserve">
              <use href="/src/images/svg/icons.svg#instagram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="icon-content">
          <a
            target="_blank"
            href="https://www.youtube.com/@hvoarang/featured"
            aria-label="Youtube"
            data-social="youtube"
          >
            <div class="filled"></div>
            <svg class="bi bi-youtube" xml:space="preserve">
              <use href="/src/images/svg/icons.svg#youtube-footer"></use>
            </svg>
          </a>
        </li>
        <li class="icon-content arr-up">
          <a
            target="_blank"
            href="#header"
            aria-label="Up tohead"
            data-social="arr-up"
          >
            <div class="filled"></div>
            <svg class="bi bi-youtube" xml:space="preserve">
              <use href="/src/images/svg/icons.svg#arr-up"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer__copyright no-margin">&copy; 2024 iElkin Denys</p>
    <a class="footer__logo" href="#" lang="en"
      ><span class="span">i</span>E<span class="span">.</span>D<span
        class="span"
        >.</span
      ></a
    >
  </div>
</footer>
<!-- END SECTION: Footer --->
