<main class="main">
  <!--//================= HERO-TILE =================//-->
  <section class="container hero">
    <h1 class="hero__content">
      <span
        class="hero__content-el hero__content-el--name"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >iElkin Denys</span
      >
      <span class="hero__content-el hero__content-el--description"
        >Creative</span
      >
      <span
        class="hero__content-el hero__content-el--job"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >Professional</span
      >
    </h1>
  </section>
  <!--//================= PERSONA =================//-->
  <section class="container persona">
    <div class="persona__wrapper wrapper--small">
      <div class="persona__content">
        <div
          class="persona__content-blurb blurb blurb--framed"
          style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >
          <h2 class="blurb__heading">Nothing is<br />impossible</h2>
          <p class="blurb__copy no-margin" style="opacity: 1">
            If you just work hard enough at it
          </p>
        </div>
        <p class="persona__content-signature">iElkin Denys</p>
      </div>
      <img class="persona__img" src="./images/ava.png" alt="iElkin Denys" />
    </div>
  </section>
  <!--//================= SLIDER =================//-->
  <section class="container slider" id="sliderContainer">
    <div class="caption" id="slider__caption">
      <div class="caption__heading">
        <h2>Lorem, ipsum.</h2>
      </div>
      <div class="caption__subhead">
        <span>dolor sit amet, consectetur adipiscing elit. </span
        ><a class="slider__btn" href="#">Sit Amet</a>
      </div>
      <div class="left__col" id="left__col">
        <div id="left__slider"></div>
      </div>
    </div>
    <ul class="slider__nav">
      <li class="slide__up">
        <a href="#"> <</a>
      </li>
      <li class="slide__down"><a id="down_button" href="#">></a></li>
    </ul>
  </section>
</main>
