<!-- <main class="main">
  <section class="container hero__container">
    <ul class="hero__list">
      <li class="hero__item">iElkin Denys</li>
      <li class="hero__item">
        <h1>CREATIVE</h1>
      </li>
      <li class="hero__item">Proffesional</li>
    </ul>
  </section>
</main> -->
<main class="main">
  <section class="container hero__container">
    iE.D
    <div class="main__hero">
      <div class="main__subtitle">iElkin Denys</div>
      <div class="main__title">CREATIVE</div>
      <div class="main__subtitle">Proffesional</div>
    </div>
  </section>
</main>
