<main class="main">
  <!--//================= HERO-TILE =================//-->
  <section class="container hero">
    <h1 class="hero__content">
      <span
        class="hero__content-el hero__content-el--name"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >iElkin Denys</span
      >
      <span class="hero__content-el hero__content-el--description"
        >Creative</span
      >
      <span
        class="hero__content-el hero__content-el--job"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >Professional</span
      >
    </h1>
  </section>
  <!-- SECTION: PERSONA -->
  <section class="container persona">
    <div class="persona__wrapper wrapper--small">
      <div class="persona__content">
        <div
          class="persona__content-blurb blurb blurb--framed"
          style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)"
        >
          <h2 class="blurb__heading">Nothing is<br />impossible</h2>
          <p class="blurb__copy no-margin" style="opacity: 1">
            If you just work hard enough at it
          </p>
        </div>
        <p class="persona__content-signature">iElkin Denys</p>
      </div>
      <img class="persona__img" src="./images/ava.png" alt="iElkin Denys" />
    </div>
  </section>
  <!--END SECTION: PERSONA -->
  <!-- SECTION: App Design --->
  <section class="container app__design web">
    <div class="app__design-wrapper wrapper--large">
      <div class="app__design--content blurb">
        <h2 class="blurb__heading">App Design</h2>
        <p class="blurb__copy blurb__copy--tight">
          App design, an awesome creative from Mykolaiv.
        </p>
        <a class="nav__link phone__link" href="#0">Check it out</a>
      </div>
    </div>
    <figure class="app__design--img"></figure>
  </section>
  <!-- END SECTION: App Design -->
  <!-- SECTION: Web Design -->
  <section class="container web__design">
    <div class="web__design--wrapper wrapper--small">
      <div class="web-design__content blurb">
        <h2 class="web__heading">Web <br />Design</h2>
        <p class="web__copy web__copy--tight">
          Web design, an amazing <br />
          architecture.
        </p>
        <a class="nav__link web__link" href="#0">Check it out</a>
      </div>
    </div>
    <figure class="web__design--img"></figure>
  </section>
  <!-- END SECTION: Web Design -->
  <!-- SECTION: Work -->
  <section id="work" class="container work">
    <h2 class="work__heading title">Latest Projects</h2>
    <div class="work__wrapper wrapper--large">
      <ul class="work__list">
        <li class="work__list-el work__list-el--is-active">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">Strategik<br />Web Design</h3>
              <p class="blurb__copy">
                The awesome guys at Strategik were superb to work with because
                they knew their goals exactly.
              </p>
            </div>
            <a class="pj__link" href="#0">See full project</a>
          </div>
          <div class="work__img">
            <img src="/src/images/work-1.jpg" alt="Strategik INC" />
          </div>
        </li>
        <li class="work__list-el">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">UI Kit<br />Web Design</h3>
              <p class="blurb__copy">
                Ēostre UI Kit is made following the latest design trends with
                focus on usability and fast workflow.
              </p>
            </div>
            <a class="pj__link" href="#0">See full project</a>
          </div>
          <div class="work__img">
            <img src="/src/images/work-2.jpg" alt="UI Kit" />
          </div>
        </li>
        <li class="work__list-el">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">Go Outside<br />App Design</h3>
              <p class="blurb__copy">
                Quick concept for a fictitious wildlife exploration app. Grab
                the PSD and start your own exploration.
              </p>
            </div>
            <a class="pj__link" href="#0">See full project</a>
          </div>
          <div class="work__img">
            <img src="/src/images/work-3.jpg" alt="Go Outside App" />
          </div>
        </li>
      </ul>
      <ul class="work__navigation">
        <li class="work__navigation-el work__navigation-el--is-active"></li>
        <li class="work__navigation-el"></li>
        <li class="work__navigation-el"></li>
      </ul>
    </div>
  </section>
  <!-- END SECTION: Work -->
</main>
