.btn {
  letter-spacing: 0.1em;
  width: 10em;
  position: relative;
  height: 2.8em;
  border: 1px ridge $secondaryColor;
  outline: none;
  background-color: transparent;
  color: $accentColor;
  transition: 1s;
  border-radius: 2.5em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 25%;
    width: 50%;
    height: 40%;
    background-color: $whiteColor;
    transition: 0.5s;
    transform-origin: center;
  }
  &::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 25%;
    width: 50%;
    height: 40%;
    background-color: $whiteColor;
    transition: 0.5s;
  }
  &:hover::before,
  &:hover::after {
    transform: scale(0);
  }
  &:hover {
    letter-spacing: 1.7;
    transition: 1.5s;
    border: 1px ridge rgba(117, 117, 117, 0.3);
    color: $mainColor;
    box-shadow: inset 0px 0px 25px rgba(117, 117, 117, 0.3);
  }
}
.nav__button,
.btn,
link {
  display: none;
  font-size: 12px;
  color: $secondaryColor;
  @media screen and (min-width: $tabletScreen) {
    display: initial;
    margin-left: 91px;
  }
  @media screen and (min-width: $desctopScreen) {
    margin-left: 226px;
  }
}
.menu__btn {
  display: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  color: $blackColor;
  background-color: transparent;
  border: none;
  transition: 250ms;
  &:hover,
  &:focus {
    background-color: $blueHover;
  }
  &:active {
    color: $blueHover;
  }
  &:--icon {
    fill: currentColor;
    display: flex;
  }
  @media screen and (min-width: $tabletScreen) {
    display: none;
  }
}
// Mobile Menu Styles

.menu-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 40px;
  background-color: $whiteColor;
  box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 400ms;
  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  top: 10px;
  right: 15px;
}
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.mobile__nav {
  margin-bottom: auto;
  & li {
    margin-bottom: 32px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  & a {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: $secondaryColor;
    &:active {
      color: $accentColorHover;
    }
  }
}
.mobile__contacts {
  margin-bottom: 64px;
}
.blog__btn {
  margin: 0 auto;
  &::after {
    background-color: $bgcGray;
  }
  &::before {
    background-color: $bgcGray;
  }
}
// ============ social icons ==========
.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: $whiteColor;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: $accentColorHover;
  background-color: $whiteColor;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: $whiteColor;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $blackColor;
  transition: all 0.5s ease-in-out;
}
.arr-up {
  display: initial;

  @media screen and (min-width: $mobileScreen) {
    display: none;
  }
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled {
  background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
}
.example-2 .icon-content a[data-social="youtube"] .filled {
  background-color: #ff0000;
}
.example-2 .icon-content a[data-social="arr-up"] .filled {
  background: linear-gradient(45deg, #fd1f1f, #e1306c, #c135b4, #b33ab4, #5b51db, #405de6);
}
