// ======== breakpoints =========
$mobileScreen: 480px;
$tabletScreen: 767px;
$desctopScreen: 1200px;

.container {
	// ===== Mobile screem 480px =====
	max-width: $mobileScreen;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	// ===== Tablet screen 767px =====

	@media screen and (min-width: $tabletScreen) {
		min-width: $tabletScreen;
	}
	// ===== Desctop screen 1200px ======
	@media screen and (min-width: $desctopScreen) {
		min-width: $desctopScreen;
	}
}
