// ======== breakpoints =========
$mobileScreen: 480px;
$tabletScreen: 768px;
$desctopScreen: 1200px;

.container {
	// ===== Mobile screem 480px =====
	min-width: $mobileScreen;
	padding: 0 15px;
	margin: 0 auto;
	overflow: clip;
	// ===== Tablet screen 768px =====
	@media screen and (min-width: $tabletScreen) {
		min-width: $tabletScreen;
	}
	// ===== Desctop screen 1200px =====
	@media screen and (min-width: $desctopScreen) {
		min-width: $desctopScreen;
	}
}

// .container {
// 	// ===== Mobile screem 480px =====
// 	max-width: 480px;

// 	padding-left: 15px;
// 	padding-right: 15px;

// 	margin-left: auto;
// 	margin-right: auto;

// 	// outline: 1px solid red;

// 	// ===== Tablet screen 768px =====
// 	@media screen and (min-width: 768px) {
// 		max-width: 768px;
// 	}

// 	// ===== Desctop screen 1200px =====
// 	@media screen and (min-width: 1200px) {
// 		max-width: 1200px;
// 	}
// }
