.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background: $whiteColor;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desctopScreen) {
    max-width: 528px;
    max-height: 581px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.modal__close--icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: $orangeHover;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__close--icon,
.modal__close:focus .modal__close--icon {
  fill: $orangeHover;
}
.modal__form--title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: $mainColor;
  @media screen and (min-width: $desctopScreen) {
    line-height: 1.15;
  }
}
.modal__form--details {
  margin-bottom: 20px;
}
.modal__form--field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.modal__form--label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal__form--input {
  height: 40px;
  padding: 11px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border: 1px solid $orangeHover;
  }
}
.form__input--icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: $secondaryColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--input:hover + .form__input--icon,
.modal__form--input:focus + .form__input--icon {
  fill: $link;
}
.form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(117, 117, 117, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:checked {
    border: 1px solid $orangeHover;
  }
}
.form__input--comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondaryColor;
}
.form__input--agree {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form__label--agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $mainColor;
  @media screen and (min-width: $desctopScreen) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.label__agree--icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: transparent;
  border: 1px solid $orangeHover;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input--agree:checked + .label__agree--icon {
  border: none;
  background-color: $orangeHover;
}
.label__agree--accent {
  margin-left: 4px;
  text-decoration: underline;
  color: $orangeHover;
}
.modal__form--btn {
  display: block;
  margin: 0 auto;
}
.subscribe__form {
  @media screen and (min-width: $desctopScreen) {
    margin-left: 93px;
  }
}
.subscribe__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
  @media screen and (min-width: $desctopScreen) {
    margin-bottom: 20px;
  }
}
.subscribe__field {
  display: block;
  @media screen and (min-width: $desctopScreen) {
    display: flex;
  }
}
.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  margin: 20px auto;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $opasity;
  @media screen and (min-width: $tabletScreen) {
    max-width: 450px;
  }
  @media screen and (min-width: $desctopScreen) {
    max-width: 358px;
    margin: 0;
  }
}
.subscribe__btn {
  @media screen and (min-width: $desctopScreen) {
    margin-left: 12px;
  }
}
.subscribe__btn--icon {
  margin-left: 10px;
}
.backdrop {
  z-index: 104;
}
