.app__design {
  position: relative;
  width: 100%;
  padding: 11.25rem 0;
  overflow: hidden;
  height: 45rem;

  @media screen and (max-width: $tabletScreen) {
    height: 40rem;
    padding: 3.75rem 0;
  }
}

.blurb__copy {
  font-weight: 700;
  &--tight {
    max-width: 18.75rem;
  }
  @media screen and (max-width: $tabletScreen) {
    text-align: center;
    margin: 0 auto 0.625rem auto;
  }
}
.app__design--content {
  opacity: 0;
  transform: translateX(-20px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}
.app__design--content.active {
  opacity: 1;
  transform: translateX(0); /* Конечное состояние: возврат на место */
}
.app__design--content h2 {
  font-size: 3rem;
  @media screen and (max-width: $tabletScreen) {
    text-align: center;
    margin: 0 auto 1.25rem auto;
  }
}
.app__design--img {
  position: absolute;
  top: 2.1rem;
  left: 35%;
  width: 48.75rem;
  height: 41.1rem;
  margin: 0;
  background-image: url(/src/images/phone.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: none;

  opacity: 0;
  transform: translateX(100px);
  transition:
    opacity 3s ease,
    transform 1s ease;
  @media screen and (max-width: $desctopScreen) {
    top: 1rem;
    width: 35rem;
    left: 25%;
  }
  @media screen and (max-width: $tabletScreen) {
    width: 28rem;
    top: 40%;
    left: 50%;
    bottom: -13.9rem;
    height: 17.43rem;
    height: 25.43rem;
    transform: translateX(-50%);

    /*--webkit--*/
    -webkit-transform: translateX(-50%);
    /*--< /webkit >--*/
  }
}
.app__design--img.active {
  opacity: 1;
  transform: translateX(0);
  @media screen and (max-width: $desctopScreen) {
    transform: translateX(0);
    transform: rotate(3rad);
    rotate: x 180deg;
  }
  @media screen and (max-width: $tabletScreen) {
    transform: translateX(-50%);
  }
}
.phone__link {
  color: $orange;
  width: 100px;
  &:hover,
  &:focus {
    color: $orangeHover;
  }
  &::after {
    text-align: center;
    width: 80%;
    background-color: $orangeHover;
  }
  @media screen and (max-width: $desctopScreen) {
    &::after {
      min-width: 12%;
    }
  }
  @media screen and (max-width: $tabletScreen) {
    margin: 0 auto;
    width: 100px;
    text-align: center;
    padding: 0;

    &::after {
      width: 81%;
      text-align: center;
    }
  }
}
