.blog {
  position: relative;
  padding: 60px 0;
  min-width: 100%;
  background-color: $bgcGray;
  overflow: hidden;
}

.blog__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog__post {
  width: 33.33%;
  margin-right: 30px;
}

.blog__post:last-child {
  margin-right: 0;
}

.blog__post-thumbnail {
  width: 100%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
}

.blog__post-thumbnail img {
  display: block;
  width: 100%;
}

.blog__post-excerpt h3 {
  color: #585858;
  font-size: 24px;
}

.blog__view-more {
  margin-top: 90px;
  text-align: center;
}

.blog__view-more--el {
  padding: 8px 30px;
}

@media (max-width: 991px) {
  .blog__heading {
    font-size: 48px;
  }

  .blog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .blog__post {
    width: 450px;
    max-width: 100%;
    margin: 0 0 45px 0;
  }

  .blog__post:last-child {
    margin-bottom: 0;
  }

  .blog__post-excerpt {
    text-align: center;
  }

  .blog__post-excerpt h3 {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .blog__heading {
    font-size: 32px;
  }
}
