.contact {
  padding: 50px 0px 50px;
}

.contact__wrapper {
  /*--webkit--*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  /*--< /webkit >--*/

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.75rem 0;
}

.contact__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4.68rem;
  right: 4.68rem;
  bottom: 0;
  border: 0.625rem solid $border;
  border-radius: 1.5rem 5.375rem 5.375rem 1.5rem;
}

.contact__img {
  cursor: pointer;
  position: relative;
  width: 47.5%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.21);
  z-index: 2;
  &:hover,
  &:focus {
    box-shadow: none;
    transition: 0.3s linear;
    transform: scale(1.01);
  }
}

.contact__img iframe {
  display: block;
  width: 100%;
}

.contact__form {
  /*--webkit--*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  /*--< /webkit >--*/

  display: flex;
  position: relative;
  width: 47.5%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.938rem 0;
  background-color: $whiteColor;
  z-index: 1;

  ::placeholder {
    opacity: 0.5;
  }
}

.contact__form-el {
  padding: 0 0 0 0.938rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid $secondaryColor;
  border-radius: 0.188rem;
}

.contact__form-el--name,
.contact__form-el--email {
  width: 45%;
  height: 3.125rem;
}

.contact__form-el--message {
  width: 100%;
  height: 9.375rem;
  margin: 1.25rem 0 1.875rem 0;
  padding-top: 0.938rem;
  resize: none;
}

.contact__form input[type="submit"] {
  margin-left: auto;
  padding: 0.625rem 3.125rem;
}
.contact__heading {
  margin-bottom: 30px;
}
@media (max-width: $desctopScreen) {
  .contact__heading {
    font-size: 3rem;
  }
  .contact__form input[type="submit"] {
    margin: 0 auto;
  }
  .contact__wrapper {
    /*--webkit--*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /*--< /webkit >--*/

    flex-direction: column;
    padding: 0;
  }

  .contact__wrapper::before {
    top: 2.813rem;
    left: 0;
    right: 0;
    bottom: 2.813rem;
  }

  .contact__img {
    /*--webkit--*/
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    /*--< /webkit >--*/
    width: 600px;
    max-width: 75%;
    order: 2;
  }

  .contact__form {
    width: 37.5rem;
    max-width: 75%;
    margin-bottom: 2.813rem;
    padding: 0 0.938rem;
  }
}

@media (max-width: $tabletScreen) {
  .contact__wrapper::before {
    display: none;
  }
  .contact__form input[type="submit"] {
    margin-left: auto;
  }

  .contact__img {
    max-width: 100%;
  }

  .contact__form {
    max-width: 100%;
    padding: 0;
  }

  .contact__form-el--name,
  .contact__form-el--email {
    height: 2.5rem;
  }

  .contact__form-el--message {
    height: 5.625rem;
  }
}

@media (max-width: $mobileScreen) {
  .contact__form input[type="submit"] {
    margin-left: auto;
  }

  .contact__img {
    max-width: 100%;
  }

  .contact__form {
    max-width: 100%;
    padding: 0;
  }

  .contact__form-el--name,
  .contact__form-el--email {
    height: 2.5rem;
  }

  .contact__form-el--message {
    height: 5.625rem;
  }
}
