.footer {
  position: relative;
  min-width: 100%;
  background-color: $bgcGray;
  height: 5.25rem;
}

.footer__wrapper {
  /*--webkit--*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: justify;
  /*--< /webkit >--*/

  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.footer__logo {
  display: block;
  transition: 500ms;
  font-family: $fontThird, sans-serif;
  color: $mainColor;
  font-weight: 400;
  font-size: 1.5rem;
  // margin-right: 5.4rem;
  padding: 1.3rem 0;
  @media screen and (min-width: $tabletScreen) {
    // margin-right: 5.6rem;
  }
  @media screen and (min-width: $desctopScreen) {
    // margin-right: 14.1rem;
  }
  & > span {
    color: $secondaryColor;
  }
  &:hover {
    transition: 500ms;
    color: $secondaryColor;
  }
  &:hover > span {
    transition: 500ms;
    color: $mainColor;
  }
}

@media (max-width: $tabletScreen) {
  .footer {
    height: 16.375rem;
    padding: 1.875rem 0;
  }

  .footer__wrapper {
    /*--webkit--*/
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /*--< /webkit >--*/

    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    /*--webkit--*/
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    /*--< /webkit >--*/

    order: 3;
  }
}
@media (max-width: $mobileScreen) {
  .footer__logo {
    display: none;
  }
  .footer__copyright {
    padding-top: 2.5rem;
  }
}
