.header {
  box-shadow: 0 0 1.3rem $secondaryColor;
  overflow: clip;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  transition: 500ms;
  font-family: $fontThird, sans-serif;
  color: $mainColor;
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 5.4rem;
  padding: 1.3rem 0;
  @media screen and (min-width: $tabletScreen) {
    margin-right: 5.6rem;
  }
  @media screen and (min-width: $desctopScreen) {
    margin-right: 14.1rem;
  }
  & > span {
    color: $secondaryColor;
  }
  &:hover {
    transition: 500ms;
    color: $secondaryColor;
  }
  &:hover > span {
    transition: 500ms;
    color: $mainColor;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 6.25rem;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: $desctopScreen) {
    margin-right: 2.8rem;
  }
  @media screen and (max-width: $tabletScreen) {
    display: none;
  }
}

.nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  padding: 2rem 0 2rem 0;
  position: relative;
  color: $secondaryColor;
  &:hover,
  &:focus,
  &--active {
    color: $mainColor;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $mainColor;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &k:focus::after,
  &--active::after {
    transform: scaleX(1);
  }
}
.socials__icon {
  fill: $blueHover;
}
.mobile__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  & a {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.22em;
    letter-spacing: 0.02em;

    color: $blackColor;
  }
}
.mobile__socials--pos {
  position: relative;
}
.mobile__socials--decor::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  display: block;
  width: 1px;
  height: 1.3rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $secondaryColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blueHover;
  }
}

.contacts__icon {
  margin-right: 0.6rem;
  fill: $secondaryColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: $blueHover;
}
.contacts__item {
  padding-bottom: 1.25rem;
}
.contacts__item:last-child {
  padding: 0;
}
.backdrop {
  z-index: 9999;
}
