.work {
  position: relative;
  width: 100%;
  padding: 120px 0 60px 0;
}

.work__list {
  position: relative;
  padding: 60px 0;
}

.work__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 175px;
  right: 125px;
  bottom: 0;
  border: 10px solid $border;
  border-radius: 135px 24px 135px;
}

.work__list-el {
  display: none;
}
.work__content {
  background-color: $whiteColor;
}
.work__list-el--is-active {
  /*--webkit--*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  /*--< /webkit >--*/

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__list-el--is-active .work__content-blurb h3,
.work__list-el--is-active .work__content-blurb p {
  /*--webkit--*/
  -webkit-animation: scaleUp 0.6s;
  /*--< /webkit >--*/

  animation: scaleUp 0.6s;
}

.work__list-el--is-active .work__visual {
  /*--webkit--*/
  -webkit-animation: scaleUp 0.6s;
  /*--< /webkit >--*/

  animation: scaleUp 0.6s;
}

.work__content {
  position: relative;
  width: 42.5%;
  z-index: 1;
}

.work__content-blurb h3 {
  font-size: 54px;
}

.work__content-blurb p {
  max-width: 350px;
}

.work__visual {
  position: relative;
  width: 52.5%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

.work__visual img {
  display: block;
  width: 100%;
}

.work__navigation {
  /*--webkit--*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  /*--< /webkit >--*/

  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 45px auto 0 auto;
}
.blurb__heading {
}
.blurb {
}
.title {
  margin: 0 0 45px 0;
  color: $mainColor;
  font-size: 58px;
  font-weight: 800;
  text-align: center;
}
.work__navigation-el {
  display: block;
  width: 12px;
  height: 12px;
  background-color: $accentColorHover;
  border-radius: 50%;
  cursor: pointer;
}

.work__navigation-el--is-active {
  background-color: transparent;
  box-shadow: 0 0 0 2px $mainColor;
}

@media (max-width: $desctopScreen) {
  .work {
    padding: 90px 0 60px 0;
  }

  .work__heading {
    font-size: 48px;
  }

  .work__list {
    padding: 0;
  }

  .work__list::before {
    top: 45px;
    left: 0;
    right: 0;
    bottom: 45px;
  }

  .work__list-el--is-active {
    /*--webkit--*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /*--< /webkit >--*/

    flex-direction: column;
  }

  .work__content {
    width: auto;
    max-width: 100%;
    margin-bottom: 45px;
    text-align: center;
  }

  .work__content-blurb {
    padding: 0 15px;
  }

  .work__content-blurb h3 {
    font-size: 42px;
  }

  .work__content-blurb p {
    max-width: 300px;
  }

  .work__visual {
    width: 600px;
    max-width: 100%;
  }
  .pj__link::after {
    width: 100%;
    width: 105px;
    height: 12px;
    background-color: $orangeHover;
  }
}

@media (max-width: $tabletScreen) {
  .work__heading {
    font-size: 32px;
  }
  .work__list::before {
    display: none;
  }
  .work__content-blurb h3 {
    font-size: 30px;
  }
  .work__visual {
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.21);
  }
}

@media (max-width: $mobileScreen) {
  .work__list::before {
    display: none;
  }

  // .work__visual {
  //   max-width: 75%;
  // }
}
.pj__link {
  display: block;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  padding: 2rem 0 2rem 0;
  position: relative;
  color: $orange;
  &:hover,
  &:focus,
  &--active {
    color: $orangeHover;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    width: 105px;
    height: 1px;
    background-color: $orangeHover;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after,
  &--active::after {
    transform: scaleX(1);
  }
  @media (max-width: $desctopScreen) {
    &::after {
      min-width: 10%;
      margin-left: 112px;
    }
  }
}
