.persona {
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 39rem;
  background-color: $bgcGray;
  &__wrapper::before {
    content: "";
    position: absolute;
    opacity: 1;
    inset: 3rem 9rem 3rem 0;
    border-width: 0.5rem;
    border-style: solid;
    border-color: $border;
    border-image: initial;
    border-radius: 0 6rem 0 2rem;
  }
  &__img {
    max-width: 23.4rem;
    position: absolute;
    left: 2.8rem;
    bottom: 0;
    z-index: 2;
  }
  &__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    /*--webkit--*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    /*--< /webkit >--*/

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__content {
    position: relative;
    z-index: 1;
    background-color: $bgcGray;
    &-signature {
      position: absolute;
      bottom: -10rem;
      left: 0;
      font-size: 2rem;
      font-family: "Allura", cursive;
    }
  }
}
.wrapper--small {
  width: 980px;
}
.wrapper,
.wrapper--small,
.wrapper--large {
  position: relative;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}
.blurb {
  padding: 1.25rem 0;
}
.blurb__heading {
  color: $mainColor;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 4.3rem;
  &__copy {
    font-weight: 700;
  }
}
.no-margin {
  margin: 0;
}
