.web__design {
  position: relative;
  min-width: 100%;
  background-color: $bgcGray;
  overflow: hidden;
  padding: 12.5rem 0;
  &--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*--webkit--*/
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    /*--< /webkit >--*/
  }
  &--img {
    position: absolute;
    top: 50%;
    right: 42%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    width: 39.25rem;
    height: 36.313rem;
    margin: 0;
    background-image: url("/src/images/laptop.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.web__design--img {
  opacity: 0;
  // transform: translateX(-20px);
  transition:
    opacity 2s ease-in,
    transform 2s ease-in;
}
.web__design--img.active {
  opacity: 1;
  // transform: translateX(0);
}
.web-design__content {
  opacity: 0;
  transform: translateX(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
.web__link {
  color: $orange;
  &:hover,
  &:focus {
    color: $orangeHover;
  }
  &::after {
    width: 38.5%;
    background-color: $orangeHover;
  }
}
.web--framed {
  padding: 0.938rem 0;
  background-color: $bgcGray;
}

.web__heading {
  margin: 0 0 0.938rem 0;
  color: $mainColor;
  font-size: 3.625rem;
  font-weight: 800;
  line-height: 1;
}

.web__copy {
  font-weight: 700;
  &--tight {
    max-width: 18.75rem;
  }
}

@media screen and (max-width: $desctopScreen) {
  .web__design--content h2 {
    font-size: 3rem;
    text-align: right;
  }

  .web__design--img {
    right: 28%;
    width: 33.813rem;
    height: 32.5rem;
  }
  .web__heading {
    text-align: right;
  }
  .web__copy {
    text-align: right;
  }
  .web__link {
    text-align: right;
    &::after {
      width: 40%;
      margin-left: 7.688rem;
    }
  }
}

@media screen and (max-width: $tabletScreen) {
  .web__design {
    height: 43.125rem;
    padding: 3.75rem 0;

    &--wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &--content {
      text-align: center;
    }
    &--content h2 {
      font-size: 2rem;
    }
    &--content h2 br {
      display: none;
    }
    &--img {
      top: auto;
      right: auto;
      left: 50%;
      bottom: -1.25rem;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 28.125rem;
      height: 29.75rem;
    }
  }
  .web__heading {
    text-align: center;
  }
  .web__copy {
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .web__link {
    padding: 0;
    text-align: center;
    &::after {
      text-align: center;
      margin-left: 10.9rem;
      min-width: 19%;
    }
  }
}

@media screen and (max-width: $mobileScreen) {
  .web__design {
    height: 39.063rem;
    &--img {
      top: 9.375rem;
      width: 24.5rem;
      height: 40.625rem;
    }
  }
}
